#checkout {
    padding: 140px 0 100px;
    background: url('../images/bg/checkout-bg.jpg') 50% 50% /cover no-repeat;

    .decor-border {
        position: absolute;
        top: -90px;
        left: 5px;
        right: 5px;
        bottom: -65px;
        border: 2px solid #fff;
    }

    .decor-square {
        @extend %square-decor;
        position: absolute;
        top: -100px;
        left: 120px;
    }
}