#reviews {
    padding: 120px 0 140px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 10%;
        width: 390px;
        height: 280px;
        border: 80px solid $light;
        border-top: none;
        z-index: -3;

        
        @media (max-width: map_get($grid-breakpoints, md)) {
            display: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 10%;
        width: 570px;
        height: 200px;
        border: 80px solid $light;
        border-bottom: none;
        z-index: -3;

        
        @media (max-width: map_get($grid-breakpoints, md)) {
            display: none;
        }
    }
}