.video-play {
    opacity: .5;
    color: #fff;
    transition: .5s;
    cursor: pointer;

    &-text {

        @media (max-width: map_get($grid-breakpoints, md)) {
            font-size: 14px;
        }
    }

    &-icon {
        
        svg {
            fill: #fff;
        }
    }

    &:hover {
        opacity: 1;
    }
}